body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #fff;
}

/* Loader centré */
.loader-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#movie-details {
    margin: 0;
    display: flex;
    max-width: 1510px;
    gap: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#movie-details img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.movie-info {
    flex: 1;
}

.movie-info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.movie-info p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}