html,
body,
#root,
.app-container {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
    color: white;
}

.bg-dark {
    background-color: #212121;
}

.text-light {
    color: #f5f5f5;
}

.neon-button {
    background-color: #f50057;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 0 10px #f50057, 0 0 20px #f50057;
    transition: all 0.3s ease-in-out;
}

.neon-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #f50057, 0 0 30px #f50057;
}