<header>
    <div class="header-container">
        <a href="index.html">
            <img src="assets/adopteunfilm.png" alt="Logo" class="logo">
        </a>
        <a href="index.html">
            <img src="assets/logotitre.png" alt="Deuxième Logo" class="logo logo-second">
        </a>
    </div>
    <form id="search-form">
        <input type="text" id="search-input" placeholder="Rechercher un film..." autocomplete="off">
        <button type="submit">Rechercher</button>
    </form>
    <button id="login-btn" class="btn-primary">Connexion</button>
</header>